
body{background:#f4f5fa;}

.nopadding{ padding: 0px !important; }
.no-left-padding{ padding-left: 0px !important; }
.no-right-padding{ padding-right: 0px !important; }
.close_block {
    padding:2px 5px;
    background:#ccc;
    cursor: pointer;
}
.category_dropdn .btn-group{ display: block; }
.serial_title { margin: 20px 0; }
.table.specifications > tbody > tr > td{ padding: 6px 20px; }
.approve_btn { margin-right: 2px; }
.field_div{ margin-bottom: 0px; }
.field_div label{ margin-top: 10px; }
.product_action_btn{ padding: 5px 5px; }
.desktop_opt{ margin-bottom: 12px; }
.costmatic-fx .input-group-addon:last-child{ border-left:1px solid #ddd;}
#notebook .form-control, 
#desktop .form-control,
#thin-client .form-control, 
#all-in-one .form-control,
#tablet .form-control,
#monitor .form-control,
#accessory .form-control,
#printer .form-control,
#other .form-control{ margin-bottom:8px; }
#notebook .input-group, 
#desktop .input-group, 
#thin-client .input-group, 
#all-in-one .input-group,
#tablet .input-group,
#monitor .input-group, 
#accessory .input-group,
#printer .input-group,
#other .input-group{ margin-bottom:8px; }
#notebook .input-group .form-control,
#desktop .input-group .form-control, 
#thin-client .input-group .form-control, 
#all-in-one .input-group .form-control,
#tablet .input-group .form-control,
#monitor .input-group .form-control,
#accessory .input-group .form-control,
#printer .input-group .form-control,
#other .input-group .form-control{ margin-bottom:0;}
.scr-wrap .col-md-3{ padding:0 0 0 10px; }
#notebook .scr-wrap .form-control, 
#all-in-one .scr-wrap .form-control,
#tablet .scr-wrap .form-control,
#monitor .scr-wrap .form-control{padding-left:10px; padding-right:5px;  }
label.check_label{ border: 1px solid #ddd; padding: 8px 0 6px 15px; margin: 0; width: 100%; }


.box-wrap{ border:0; background: #fff; }
.table {border:1px solid #eee; margin-bottom:20px; box-shadow:5px 5px 5px 0 rgba(0,0,0,.1);}
.table > thead > tr > th,
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td{border-top: 1px solid #eee; color: #666; border-left: 1px solid #eee;}

.table > thead > tr > th + th,
.table > tbody > tr > th + th,
.table > tfoot > tr > th + th,
.table > thead > tr > td + td,
.table > tbody > tr > td + td,
.table > tfoot > tr > td + td{ border-left:1px solid #eee; }

.table > thead > tr > th + th a i,
.table > tbody > tr > th + th a i,
.table > tfoot > tr > th + th a i,
.table > thead > tr > td + td a i,
.table > tbody > tr > td + td a i,
.table > tfoot > tr > td + td a i{color:#666;}

a.print_location{color:#26A69A;}

.table > thead > tr > th {border-bottom: 0; background: #f5f5f5;}
.pagination {border: 1px solid #eee; margin-bottom: 20px;  display: inline-block; vertical-align: top; line-height: 22px; color: #666; font-size:12px; padding:10px 0 10px 15px;     box-shadow: 5px 5px 5px 0 rgba(0,0,0,.1);}
.pagination b,
.pagination a{ padding:10px 18px; border-left: 1px solid #eee; display: inline-block; vertical-align: top; line-height: 22px; color: #666; font-size: 15px; margin:-10px -1px;}
.pagination b{background:#26A69A; color:#fff; }
#pagination{text-align: center; margin: 15px 0 0; display: inline-block; width: 100%;}

.form-control{ border: 1px solid #eee;  background:#f3f5f5;  padding: 12px 15px; height: 44px; line-height: 20px; color: #666;}
button.btn{ padding:10px 25px; background: #26a69a; line-height: 20px; border: 2px solid #26a69a; text-transform: uppercase; font-weight: 500; font-size: 14px; color:#fff;}
.btn:focus,
.btn:hover{background:#fff; color: #26a69a !important; border: 2px solid #26a69a; box-shadow:none !important;}
.content {padding:0 30px 60px 30px;}
.page-header-default {margin-bottom: 30px;}
.panel,
.panel.panel-flat {border: 0; border-radius: 0; box-shadow: none;}

.panel-flat > .panel-heading { padding-top: 15px; padding-bottom: 15px; background-color: #f3f5f5; border: 1px solid #fff; margin:0 0 20px; position: relative;; }
.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] { width: 18px; height: 18px; margin:0;}
h5.panel-title, .h5.panel-title {color:#263238;}

.panel-flat > .panel-heading:after{ content:''; width: 0;  height: 0;  border-left: 20px solid transparent; border-right: 20px solid transparent; border-top: 20px solid #f3f5f5; position: absolute; bottom:-12px; left:15px; }
.input-group-addon {border: 1px solid #eee;border-radius: 3px; padding:11px 12px;}
.btn-sm, .btn-group-sm > .btn{padding:8px 25px;}
.btn-success {background-color: #4CAF50; border:2px solid #4CAF50;}
.btn-success:focus,
.btn-success:hover{background:#fff; color: #4CAF50 !important; border: 2px solid #4CAF50; box-shadow:none !important;}
.keyword-none,
.serieal-location{ text-align:center;}
.serieal-location .col-md-4{ float:none; display:inline-block; vertical-align:top;  }
.keyword-none .col-md-4{ float:none; display:inline-block; vertical-align:top;  }
.post-list{    overflow:auto;}
.accessories .col-md-2{margin-top:30px;}
.title-div-text{ font-size:13px; margin-bottom:7px; font-weight: 400; color:#333;}
.radio-inline, .checkbox-inline {line-height: 18px;}
label.check_label {border: 1px solid #EEE;  padding: 12px 0 10px 15px; }
.multi-select-full  button.multiselect.btn{ width: 100%; min-width: 100%; text-align: left;padding-left: 12px; padding-right: 29px; text-overflow: ellipsis; overflow: hidden; text-transform: initial; font-weight:400; line-height: 26px; border:1px solid #eee !important;}
.multi-select-full  button.multiselect.btn:hover,
.multi-select-full  button.multiselect.btn:focus{    color: #333 !important;}

#loader{ position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); transform:translate(-50%, -50%); width:100%; height:100%; text-align:center; background:rgba(255,255,255,.8); z-index:10;}
#loader img{position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); transform:translate(-50%, -50%);}
.pallet-top button{width:100%;}
.pallet-btm .icon-plus-circle2{ line-height:44px;}
.chekbox-validation{border:1px solid #eee;}
.savelabel-new button{ margin-bottom:10px; }
.bg-primary-300 {background-color: #64B5F6; border: 2px solid #64B5F6; color: #fff;}
.founder-name{     margin: 10px -10px 10px; padding: 0; font-size: 18px; line-height: normal; display: block; color: #4CAF50; text-transform: uppercase;} 
#userData tr td:first-child{ text-align:center; }
.print_btn{padding: 10px 25px;background: #26a69a;line-height: 20px;border: 2px solid #26a69a;text-transform: uppercase;font-weight: 500;font-size: 14px;color: #fff;}
.upload_button button{margin-bottom: 15px;}
.content{padding: 0 10px 60px 10px;}
.form-group .multi-select-full button.multiselect.btn, 
.input-group .multi-select-full button.multiselect.btn{color:#333}

.d-flex{ display:-webbox-flex; display:-moz-flex; display:-ms-block; display: flex;}
.mar-l{margin-left:auto !important;}
.mar-r{ margin-right:auto !important; }
.print-sticker{ border:5px solid #000; padding:25px; max-width:600px; width:100%; margin:15px auto; background:#fff; }
.sticker-head { margin:0 0 40px;}
.sticker-head h2{ margin:0; padding:0;}
.sticker-head h2 big{ font-size:120px; line-height:120px; display:block; font-weight:400;}
.sticker-head h2 small{ color:#000; font-size:20px;  text-transform: uppercase; text-align: center; line-height: 100%;     display: block;}
.sticker-head h6{ margin:0; padding:0;}
.sticker-head h6 big{ font-size: 60px; text-transform: uppercase; color: #000; text-align: right; display: block; line-height: 100%; padding: 0 10px 0 0; font-weight: 500;}
.sticker-head h6 small{ background: #000; color: #fff; font-size: 44px; padding: 8px 10px; line-height: 40px; display: block; text-align: center; text-transform: uppercase; width: 160px; text-align: right; margin-left: auto;} 
.sticker-head h6 span{ display:block; text-align: right; padding: 3px 10px 0 0; font-size: 13px; line-height: 100%;}

.barcode-img { align-items: center; margin:0 0 15px;}
.barcode-img span{ width:65%; padding-right:20px;}
.barcode-img span img{ width:100%;}
.barcode-img  h6{ margin:-15px 0 0 auto; padding: 0; font-size: 90px; background: #000; color: #fff; padding: 0 20px;display: block;  line-height:112px; font-weight: 300; height:112px; align-items: center;}
.sticker-qty{ margin:40px 0;}
.sticker-qty h2{ margin:0 0 10px; padding:0; font-size:86px; display:block; font-weight:400; line-height:100%; text-align:center; color:#000;}
.sticker-qty h6{ margin:0; padding: 0; font-size: 22px; display: block; text-align: center; line-height: normal; font-weight: 400; color:#000;}
.edit .col-md-6 {margin-bottom: 5px;}
.edit-spec .row {margin-bottom: 5px;}
